<h1>Your travel options</h1>
<%= form_tag("/flights", method: "get") do %>
	Flight from
	<%= select_tag(:origin_id, options_for_select(@airports)) %>
	Flight to
	<%= select_tag(:destination_id, options_for_select(@airports)) %><br>
	Date      
	<%= select_tag(:date, options_for_select(@dates)) %>
	Persons
	<select name="people" id="pepole"><option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option></select>
	<%= submit_tag("Search") %>
<% end %>

<% if @flights %>
	<% @flights.each do |f| %>
		<%= f.number %>
		<%= f.datetime %><br>
	<% end %>
<%end %>