<h1>Your travel options</h1>
<%= form_tag("/flights", method: "get") do %>
	Flight from
	<%= select_tag(:origin_id, options_for_select(@airports)) %>
	Flight to
	<%= select_tag(:destination_id, options_for_select(@airports)) %><br>
	Date      
	<%= select_tag(:date, options_for_select(@dates)) %>
	Persons
	<%= select_tag(:people, options_for_select(@people)) %>
<%= submit_tag("Search") %>
<% end %>

<% if @flights %>


	<table>
		<th> </th>
		<th>Flight Number</th>
		<th>From Airport</th>
		<th>To Airport</th>
		<th>Date</th>
		<th>Time</th>
		<th>Duration</th>
		<%= collection_radio_buttons(:flight, :id, @flights, :id, :number) do |b| %>
	   <tr>
		    <td><%= b.radio_button %></td>
		    <td><%= b.label %> </td>
		    <td><%= b.object.from_airport.name %></td>
		    <td><%= b.object.to_airport.name %></td>
		    <td><%= b.object.format_date %></td>
		    <td><%= b.object.format_time %></td>
		    <td><%= b.object.format_duration %></td>
		  </tr>
	  <% end %>
	</table>

<% end %>
