<br>
<table>
	<th>Flight Number</th>
	<th>From Airport</th>
	<th>To Airport</th>
	<th>Date</th>
	<th>Time</th>
	<th>Duration</th>
	<tr>
		<td><%= object.number %></tdd>
		<td><%= object.from_airport.name %></td>
		<td><%= object.to_airport.name %></td>
		<td><%= object.format_date %></td>
		<td><%= object.format_time %></td>
		<td><%= object.format_duration %></td>
	</tr>
</table>
