<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for choosing Rails Airways, <%= @passenger.name %></h1>
    <p>
      Your booking was successfly. Flight details are listed below. Checkin closes 30 minutes prior to depature<br>
    </p>
    <table>
  <th>Booking Number</th>
  <th>Flight number</th>
  <th>From</th>
  <th>To</th>
  <th>Date</th>
  <th>Time</th>
  <th>Duration</th>
    <tr>  
      <td><%= @booking.id %></td>
      <td><%= @booking.flight.number %></td>
      <td><%= @booking.flight.from_airport.name %></td>
      <td><%= @booking.flight.to_airport.name %></td>
      <td><%= @booking.flight.format_date %></td>
      <td><%= @booking.flight.format_time %></td>
      <td><%= @booking.flight.format_duration %></td>
    </tr>
</table>
    <p>
      To see more, see the booking information page <%=link_to "here", booking_url(@booking)%>.
    </p>
    <p>Thanks for choosing rails airways and enjoy your flight!</p>
  </body>
</html>
